.feature-list-section-container {
    background-color: #EFECFF;
    display: flex;
    justify-content: center;
}

.feature-list-section-content {
    max-width: 700px;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding: 60px;
}