@import '../../Styles/Colors.scss';

.feature-list-section-container {
    background-color: $background-light-secondary;
    display: flex;
    justify-content: center;

    .feature-list-section-content {
        max-width: 700px;
        flex-direction: column;
    }
    
    .feature-grid {
        flex-direction: column;
    }
    
    .feature-row {
        display: flex;
        flex-direction: row;
        gap: 120px;
        padding: 60px;
    }
    
    .inspiration {
        text-align: center;
        padding-bottom: 40px;
    
        a {
            text-decoration: none;
            color: red;
        }
    
    }
}

@media (prefers-color-scheme: dark) {
    .feature-list-section-container {
        background-color: $background-dark-secondary;
    }
}
  


@media (max-width: 768px) {

    .feature-list-section-container {

        .feature-row {
            flex-direction: column;
        }
        
    }
    
}