.policy {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.policy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}