@import '../Styles/Shared.scss';
@import '../Styles/Colors.scss';

.policy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon-container {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .policy {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        max-width: 700px;
        line-height: 1.5;

        a {
            text-decoration: none;
            color: $link-color;
        }
    }
}

@media (max-width: 768px) {
    .policy-container {
        margin-top: 20px;
        margin-bottom: 20px;

        .policy {
            margin-top: 0px;
            margin-bottom: 0px;
            @include mobile-padding;
        }
    }
}