@import '../../../../Styles/Colors.scss';

.feature-container {
    flex-basis: 100%;
    line-height: 1.5;

    svg {
        path {
            fill: $text-light-primary
        }
    }
}

@media (prefers-color-scheme: dark) {
    .feature-container {
        svg {
            path {
                fill: $text-dark-primary;
            }
        }
    }   
}