@import '../Styles/Colors.scss';

.press-kit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

    .press-kit-content {
        display: flex;
        max-width: 700px;
        flex-direction: column;

        .mac-icon {
            height: 144px;
            width: 144px;
        }

        .download-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            h3 {
                padding-left: 8px;
            }

            .download-icon {
                height: 24px;
                width: 24px;
            }
        }

        h2 {
            line-height: 1.5rem;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        p {
            line-height: 1.5rem;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            color: $link-color;
        }
    }
}