@import '../../../../Styles/Colors.scss';
@import '../../../../Styles/Shared.scss';


$apple-music-background-light: #f9CcD7;
$apple-music-background-dark: #5c0c14;
$apple-music-stroke: #fc3c44;
$spotify-background-light: #DBFFDA;
$spotify-background-dark: #2A5329;
$spotify-stroke: #05BC01;

.explanation-container {

    display: flex;
    justify-content: center;
    align-content: center;

    .app-icon {
        height: 100px;
        width: 100px;
    }

    .explanation-content {
        display: flex;
        flex-direction: column;
    }

    .artwork-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .arrow {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        svg {
            path {
                fill: $text-light-primary;
            }
        }
    }
        
    .download-container {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    .download-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media (prefers-color-scheme: dark) {
    .explanation-container  {
        .arrow {
            svg {
                path {
                    fill: $text-dark-primary;
                }
            }
        } 
    }
}

@media (max-width: 768px) {
    
    .explanation-container {
    
        .app-icon {
            height: 70px;
            width: 70px;
        }
    }
}