@import '../../../../Styles/Colors.scss';
@import '../../../../Styles/Shared.scss';


$apple-music-background-light: #f9CcD7;
$apple-music-background-dark: #5c0c14;
$apple-music-stroke: #fc3c44;
$spotify-background-light: #DBFFDA;
$spotify-background-dark: #2A5329;
$spotify-stroke: #05BC01;

.explanation-container {


    display: flex;
    justify-content: center;
    align-content: center;

    .app-icon {
        height: 120px;
        width: 120px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .explanation-content {
        display: flex;
        flex-direction: column;
    }
    
    .artwork-container {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    
    .arrow {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .service-container {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .service-link {
        display: flex;
        align-items: center;
        border-radius: 25px;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        p {
            line-height: 1.1;
            font-size: 1rem;
        }
    }
    
    .service-icon {
        margin-right: 5px;
    }
    
    .apple-music {
        background-color: $apple-music-background-light;
        color: $apple-music-stroke;
    
        svg {
            path {
                fill: $apple-music-stroke;
            }
        }
    }
    
    .spotify {
        background: $spotify-background-light;
        color: $spotify-stroke;
    
        svg {
            path {
                fill: $spotify-stroke;
            }
        }
    }
    
    .link-text {
        font-size: 0.75rem;
    }
    
    .download-container {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    .download-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .arrow {

        svg {

            path {
                fill: $text-light-primary;
            }

        }
        
    }

    .mobile-icon {
        height: 85px;
        width: 85px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (prefers-color-scheme: dark) {

    .explanation-container  {

        .arrow {

            svg {

                path {
                    fill: $text-dark-primary;
                }

            }

        } 
        
        .apple-music {
            background: $apple-music-background-dark;
        }
    
        .spotify {
            background: $spotify-background-dark;
        }
    }
}

@media (max-width: 768px) {
    
    .explanation-container {
    
        .app-icon {
            height: 85px;
            width: 85px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .service-container {
            display: none;
        }
    }
}