@import '../../../../Styles/Colors.scss';

.banner-header-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 100px;

    h1 {
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;

        .app-name {
            font-weight: 700;
            background-color: $convusic-highlight-color;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.banner-header-content {
    max-width: 700px;
}

@media (max-width: 768px) {

    .banner-header-content {
        padding: 16px;

        h1 {
            font-size: 1.675rem;
            font-weight: 600;
            text-align: center;
        }
    }

    .banner-header-container {
        padding-top: 20px;
    }
}