$background-light-primary: #FFFFFF;

$background-light-secondary: #EFECFF;

$background-dark-primary: #232526;

$background-dark-secondary: #000000;

$text-light-primary: #000000;

$text-dark-primary: #FFFFFF;

$text-light-accent: #7B11A7;

$text-dark-accent: #FFFFFF;

$apple-music-background-light: #f9CcD7;

$apple-music-background-dark: #5c0c14;

$convusic-highlight-color: #B971D6;