$background-light-primary: #FFFFFF;

$background-light-secondary: #EFECFF;

$background-dark-primary: #232526;

$background-dark-secondary: #000000;

$text-light-primary: #000000;

$text-dark-primary: #FFFFFF;