$background-light-primary: #FFFFFF;

$background-light-secondary: #EFECFF;

$background-dark-primary: #000000;

$background-dark-secondary: #232526;

$text-light-primary: #000000;

$text-dark-primary: #FFFFFF;

$text-light-accent: #7B11A7;

$text-dark-accent: #FFFFFF;

$apple-music-background-light: #f9CcD7;

$apple-music-background-dark: #5c0c14;

$apple-music-stroke: #fc3c44;

$spotify-background-light: #DBFFDA;

$spotify-background-dark: #2A5329;

$spotify-stroke: #05BC01;

$convusic-highlight-light: #AF52DE;

$convusic-highlight-dark: #BF5AF2;