@import '../../Styles/Colors.scss';

.footer-container {
    background-color: $background-light-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .footer-item {
        padding-left: 40px;
        padding-right: 40px;
        color: $text-light-accent;
    
        a {
            text-decoration: none;
            color: $text-light-accent;
        }
    }
}


@media (prefers-color-scheme: dark) {

    .footer-container {
        background-color: $background-dark-secondary;

        .footer-item {
            color: $text-dark-accent;
    
            a {
                text-decoration: none;
                color: $text-dark-accent;
            }
        }
    }

}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (min-width: 768px) {
    .footer-container {
        height: 80px;
    }
}