.footer-container {
    background-color: #EFECFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80px;
}

.footer-item {
    padding-left: 40px;
    padding-right: 40px;
    color: #7B11A7;
}

.footer-item a:link {
    text-decoration: none;
    color: #7B11A7;
}

.footer-item a:visited {
    text-decoration: none;
    color: #7B11A7;
}
  
.footer-item a:hover {
    text-decoration: none;
    color: #7B11A7;
}
  
.footer-item a:active {
    text-decoration: none;
    color: #7B11A7;
}

@media (prefers-color-scheme: dark) {

    .footer-item {
        color: #FFFFFF;
    }

    .footer-container {
        background-color: #000000;
    }

    .footer-item a:link {
        color: #FFFFFF;
    }
    
    .footer-item a:visited {
        color: #FFFFFF;
    }
      
    .footer-item a:hover {
        color: #FFFFFF;
    }
      
    .footer-item a:active {
        color: #FFFFFF;
    }
}
